<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Outfit App
  </h1>
</div>

<form [formGroup]="formGroup">
   	<input class="form-control" formControlName="name">
   	<button type="submit" (click)="onSubmit()">submit</button>
   	<button (click)="onTest()">test</button>
</form>

<div>
<ul>
<ng-template ngFor let-item [ngForOf]="nameList" let-i="index" [ngForTrackBy]="trackById">
  <li>{{item.id}}:{{item.name}}</li>
</ng-template>
</ul>
</div>

