<div class="ui-fluid">
<div class="ui-g"><div class="ui-g-12"><div class="card docs no-margin">
	<h1>Application Form</h1>
	<div class="ui-g form-group">
	    <div class="ui-g-12 ui-md-3">
	        <label for="autocomplete">Enter your character name: </label>
	    </div>
	    <div class="ui-g-12 ui-md-9">
	        <p-autoComplete [(ngModel)]="character"
	                        pKeyFilter="alphanum"
	                        forceSelection="true"
	 						[suggestions]="vm.suggestion$ | async"
	 						(completeMethod)="updateSuggestions( $event )"
	 						(onSelect)="selectCharacter( $event )"
	 						field="name.first"
	     				    placeholder="Character name" [minLength]="3"></p-autoComplete>
	    </div>
    </div>
    <div class="ui-g" *ngIf="vm.selectedProfile$ | async as profile">
        <div class="ui-g-12 ui-md-12">
		    <p-panel header="Profile" [toggleable]="false">
			    <ul>
                    <li>Name: {{profile?.name}}</li>
                    <li>Battle Rank: {{profile?.battleRank}}</li>
                    <li>A.S.P. Level: {{profile?.aspLevel}}</li>
		            <li>Server: {{profile?.world}}</li>
		            <li>Faction: {{profile?.faction}}</li>
		            <li *ngIf="profile?.outfit" >Outfit: [{{profile?.outfitAlias}}] {{profile?.outfit}}</li>
			    </ul>
			    <p-footer>
			            <p-button label="Register" styleClass="ui-button-info" [disabled]="vm.submitDisabled$ | async"></p-button>
			    </p-footer>
             </p-panel>
        </div>
    </div>
    
    
        <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
		    <p-panel header="value" [toggleable]="false">
		    	<p>{{counter | async }}</p>
			    <p-footer>
			            <p-button label="+" styleClass="ui-button-info" (click)="increment()"></p-button>
			            <p-button label="-" styleClass="ui-button-info" (click)="decrement()"></p-button>
			            <p-button label="0" styleClass="ui-button-info" (click)="reset()"></p-button>
			    </p-footer>
          </p-panel>
        </div>
    </div>
</div></div></div></div>